extends ./layout.pug
block vars
    - var title = 'Главная';
    - var image = "/assets/image/";
    - var upload = "/assets/upload/";

block content
    .d-flex.gallery(data-gallery-one)
        .gallery__item
            img.thumbnail(src='https://images.unsplash.com/photo-1744236404781-530428ffbad5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMHx8fGVufDB8fHx8fA%3D%3D', data-group='group1', data-full='https://images.unsplash.com/photo-1744236404781-530428ffbad5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMHx8fGVufDB8fHx8fA%3D%3D')
        .gallery__wrapper
            .gallery__item
                img.thumbnail(src='https://images.unsplash.com/photo-1746483965832-40cd64149b4f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyfHx8ZW58MHx8fHx8', data-group='group1', data-full='https://images.unsplash.com/photo-1746483965832-40cd64149b4f?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
            .gallery__item
                img.thumbnail(src='https://images.unsplash.com/photo-1745810187217-4d9e1ccfd9d5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxNXx8fGVufDB8fHx8fA%3D%3D', data-group='group1', data-full='https://images.unsplash.com/photo-1745810187217-4d9e1ccfd9d5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxNXx8fGVufDB8fHx8fA%3D%3D')
            .gallery__item
                img.thumbnail(src='https://images.unsplash.com/photo-1746184564778-87d9a18ca114?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D', data-group='group1', data-full='https://images.unsplash.com/photo-1746184564778-87d9a18ca114?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D')
            .gallery__item
                img.thumbnail(src='https://images.unsplash.com/photo-1746023841861-d5fcf4b3d510?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzMnx8fGVufDB8fHx8fA%3D%3D', data-group='group1', data-full='https://images.unsplash.com/photo-1746023841861-d5fcf4b3d510?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzMnx8fGVufDB8fHx8fA%3D%3D')
        .gallery-view-all(data-gallery-all) Показать все фото
    .d-flex.gallery(data-gallery-two)
        .gallery__wrapper
            .gallery__item
                img.thumbnail(src='https://images.unsplash.com/photo-1746483965832-40cd64149b4f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyfHx8ZW58MHx8fHx8', data-group='group2', data-full='https://images.unsplash.com/photo-1746483965832-40cd64149b4f?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
            .gallery__item
                img.thumbnail(src='https://images.unsplash.com/photo-1745810187217-4d9e1ccfd9d5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxNXx8fGVufDB8fHx8fA%3D%3D', data-group='group2', data-full='https://images.unsplash.com/photo-1745810187217-4d9e1ccfd9d5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxNXx8fGVufDB8fHx8fA%3D%3D')
            .gallery__item
                img.thumbnail(src='https://images.unsplash.com/photo-1746184564778-87d9a18ca114?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D', data-group='group2', data-full='https://images.unsplash.com/photo-1746184564778-87d9a18ca114?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D')
            .gallery__item
                img.thumbnail(src='https://images.unsplash.com/photo-1746023841861-d5fcf4b3d510?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzMnx8fGVufDB8fHx8fA%3D%3D', data-group='group2', data-full='https://images.unsplash.com/photo-1746023841861-d5fcf4b3d510?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzMnx8fGVufDB8fHx8fA%3D%3D')
