extends ./layout.pug
block vars
    - var title = 'Главная';
    - var image = "assets/image/";
    - var upload = "assets/upload/";

block content
  .gallery-view
    .license__item
      img.thumbnail(src='https://avatars.mds.yandex.net/i?id=88dc0b2ed6c5741b417b87274556a75daaf2981c9d05b546-4145687-images-thumbs&n=13', data-group='group1', data-full='https://images.wallpaperscraft.ru/image/single/gory_vershina_sklon_175846_2560x1440.jpg')
    .license__item
      img.thumbnail(src='https://avatars.mds.yandex.net/i?id=a6a9944ba6bbc717781756bc4150bcbc3feb0653-4958417-images-thumbs&n=13', data-group='group1', data-full='https://img.goodfon.ru/original/2880x1800/e/3e/gory-vershiny-sneg-uschele.jpg')

  .gallery-view
    .license__item
      img.thumbnail(src='https://avatars.mds.yandex.net/i?id=2ca52b2f919d5c587149dc54da97ebb818b1c011-10959457-images-thumbs&n=13', data-group='group2', data-full='https://i.pinimg.com/736x/27/2d/48/272d48ac6757d9a0e05025725c72ebe1.jpg')
    .license__item
      img.thumbnail(src='https://avatars.mds.yandex.net/i?id=68bc04810fe297ec79c4e70ae029ac60092733d5-4835773-images-thumbs&n=13', data-group='group2', data-full='https://i.pinimg.com/736x/a2/a9/e0/a2a9e04b1dbe25d4acffd99680171c9d.jpg')